body {
    font-family: Arial, sans-serif;
    max-width: 1100px;
    margin: auto;
    padding: 40px;
    line-height: 1.6;
}

h1 {
    color: #2563eb;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 8px;
    color: #555;
}

.home {
    margin-top: 80px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 40px;
}

.button-grid a {
    display: block;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 16px;
    text-decoration: none;
    color: #111;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.2s;
}

.button-grid a:hover {
    transform: translateY(-4px);
    border-color: #2563eb;
    color: #2563eb;
}

.page-nav {
    margin: 30px 0;
}

.page-nav a {
    margin-right: 20px;
}

.section {
    margin-top: 50px;
}

.project {
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
}

.video-wrapper {
    margin-top: 20px;
}

footer {
    margin-top: 80px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

@media (max-width: 700px) {
    .button-grid {
        grid-template-columns: 1fr;
    }

    body {
        padding: 24px;
    }
}
.image-placeholder {
    margin-top: 20px;
    height: 300px;
    border: 2px dashed #bbb;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #777;
    background-color: #f8f8f8;
}

.image-placeholder p {
    margin: 0;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.hero-text {
    flex: 2;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
}

@media (max-width: 800px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-image img {
        max-width: 250px;
    }
}
