/* HOME PAGE ONLY */

.home-page {
    margin: 0;
    padding: 0;
    max-width: none;
    height: 100vh;
    overflow: hidden;

    background-image: url("texture.jpg");
    background-repeat: repeat;
}

.home-intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 80px;
    box-sizing: border-box;
}

.home-logo {
    width: 65vw;
    max-width: 900px;

    display: block;
    margin-bottom: 30px;
    object-fit: contain;

    transform: translate(200px, 40px);
}

.home-intro p {
    max-width: 520px;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.about-button {
    width: fit-content;
    padding: 16px 28px;

    text-decoration: none;
    color: #111;
    font-weight: bold;

    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 12px;

    transition: 0.2s;
}

.about-button:hover {
    background-color: rgba(255, 255, 255, 0.35);
    color: #2563eb;
}

/* RIGHT DRAWER BUTTONS */

.side-drawer-nav {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 0;
}

.side-drawer-nav a {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 120px;
    margin-top: 40px;

    text-decoration: none;
    color: #111;

    transform: translateX(260px);
    transition: transform 0.3s ease;
}

.side-drawer-nav a:first-child {
    margin-top: 0;
}

.side-drawer-nav a:hover {
    transform: translateX(0);
    z-index: 10;
}

.drawer-button {
    width: 335px;
    height: 162px;

    background-image: url("ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    flex-shrink: 0;
    position: relative;
}

.ribbon-text {
    position: absolute;

    left: 200px;
    top: 140px;

    transform: translate(-50%, -50%);

    font-family: Baskerville, serif;
    font-size: 1.2rem;
    color: #3e1f05;

    white-space: nowrap;
}

.drawer-preview {
    width: 260px;
    height: 316px;

    padding: 70px 38px 38px;
    box-sizing: border-box;

    background-image: url("envelope.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    font-size: 0.85rem;
    color: #111;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    flex-shrink: 0;
}